API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
BOT_TOKEN=8692089339:AAFVwoaEprYscybXjj9Kph0TP0rTRVI-dhk
LOGGER_ID=-1003702851320
MONGO_DB_URI=mongodb+srv://bilkisbano1979:drxthoryt1@cluster0.imj6xvt.mongodb.net/?appName=Cluster0
OWNER_ID=8459323343
STRING_SESSION=BQE1hZwAOlLNK-0tl_W5NaWfEe2yILYDZm0jNBy-SmSR6K3yFKrYftpr2aeUipZBORqPbe-A3UeqsjpF0PapkiyxlzTpvtKecwUMBXMff6fNqG5mXk0mZWEYLEsUENFdj7U2yhvhAXR1TqL42VJj8nL5EwdaBKqu6ec52bARgDdnHgfVFxun3QKZGn8o8n548hEoqqmSavFq2ihmsKTclcXwu10D-oulchso-kITKLCVnGyC3zITKqRsQ3ci1dKy8g0nsI8FvIIwcEt57H_upXiMM-zKTFch2Jtbe02vJoeBJUkitMShApGGU6a8fvZ96GEEovsgDUzFyjNv19QxXr_dAG5kcgAAAAGS2zXEAA
